server {
    listen       {{config['port']}};

    {% if config['ssl_cert'] and config['ssl_key'] %}
    ssl on;
    ssl_certificate ssl/server.crt;
    ssl_certificate_key ssl/server.key;
    {% endif %}

    {% for publish in config['publishes'] -%}
    location /{{publish}}/ {
        alias {{config['publishes'][publish]}}/;
        autoindex on;
    }
    {% endfor -%}
}
